/* stylelint-disable */

/* ------------------------------------ \*
   #FOOTER
\* ------------------------------------ */

// stylelint-enable
.footer {
  background-color: $secondary-color;
    
  &__div {
    width: 100%;      
    margin: 0 auto;
    padding-right: 4%;
    padding-left: 4%;    
    
    @media (min-width: $xl-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__a {    
    padding-bottom: 5px;
    color: $main-text-color;
    font-family: $font-family-sans-serif;  
    font-size: calc(1rem + .6vw);  
    text-decoration: none;        

    &:hover {
      color: $secondary-text-color;
      font-family: $secondary-title;
    } 

    @media (min-width: $m-width) {
      font-size: calc(1rem + .2vw);
    }
  }

  &__figure {
    margin: 0;
    text-align: center;        
  }
  
  &__img {
    margin: auto;
    padding: 5px 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: flex-end;      
      
    @media (min-width: $xl-width) {     
      flex-direction: row;
      justify-content: flex-end;    
    }
  }
  
  &__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding-inline-start: 0;
    list-style: none;
    
    &--redes{
      justify-content: center;
    }
  }

  &__li {
    display: inline-block;
    font-family: $font-family-sans-serif;    
    font-size: 1.2rem; 
  }

  @supports (not (display:grid)) {
    &__ul {
      @media (min-width: $xl-width) {
        display: block;
      }        
    }

    &__li {
      padding: 0 5px;
    }
  } 
}
  