<section class="section my-8">
    <h2 class="section__h2">Maratón de series y películas</h2>
    <p class="text-justify">¡Palomitas, cine y acción! Disfruta del siguiente repertorio de series, películas y documentales de ajedrez que no deberías perderte.</p>
    <div class="carousel slide peliculas__div" data-bs-ride="carousel">
      <div class="carousel-indicators carrusel__div">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active carrusel">
          <img src="./assets/images/enBuscaDeBobbyFisher.jpg" class="d-block w-100 carrusel__img" alt="En Busca de Bobby Fischer">
          <div class="carousel-caption d-none d-md-block carrusel__div">
            <h5 class="carrusel__div--h5 text-s">En Busca de Bobby Fischer</h5>
            <p>Fred Waitzkin descubre la excepcional habilidad de su hijo, Josh, en la práctica del ajedrez. Esto le lleva a contratar a Bruce Pandolfini, un excampeón, para que le dé clases.</p>
          </div>
        </div>
        <div class="carousel-item carrusel">
          <img src="./assets/images/hijoDeCain.jpg" class="d-block w-100 carrusel__img" alt="Hijo de Caín">
          <div class="carousel-caption d-none d-md-block carrusel__div">
            <h5 class="carrusel__div--h5 text-s">Hijo de Caín</h5>
            <p>Una familia de clase alta cuyo hijo tiene muchos problemas, contrata a un psicólogo para que le ayude. Sin embargo, nada será como parecía en un principio.</p>
          </div>
        </div>
        <div class="carousel-item carrusel">
          <img src="./assets/images/laJugadaMaestra.jpg" class="d-block w-100 carrusel__img" alt="La jugada maestra">
          <div class="carousel-caption d-none d-md-block carrusel__div">
            <h5 class="carrusel__div--h5 text-s">La jugada maestra</h5>
            <p>La historia de la preparación del legendario enfrentamiento por el campeonato del mundo entre Bobby Fischer, campeón de ajedrez norteamericano, y el campeón soviético Boris Spassky.</p>
          </div>
        </div>
        <div class="carousel-item carrusel">
          <img src="./assets/images/GambitoDeDama.jpg" class="d-block w-100 carrusel__img" alt="Gambito de dama">
          <div class="carousel-caption d-none d-md-block carrusel__div">
            <h5 class="carrusel__div--h5 text-s">Gambito de dama</h5>
            <p>La huérfana y prodigio del ajedrez, Beth Harmon, lucha contra la adicción mientras busca convertirse en la mejor jugadora de ajedrez del mundo.</p>
          </div>
        </div>
        <div class="carousel-item carrusel">
          <img src="./assets/images/Magnus.jpg" class="d-block w-100 carrusel__img" alt="Magnus">
          <div class="carousel-caption d-none d-md-block carrusel__div">
            <h5 class="carrusel__div--h5 text-s">Magnus</h5>
            <p>Nacido en 1990, el prodigio noruego del ajedrez Magnus Carlsen se convierte en gran maestro a los 13 años y en campeón del mundo en 2013.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>