<section class="section my-8">
    <h2 class="section__h2">Maratón de series y películas</h2>
    <p class="text-justify">¡Palomitas, cine y acción! Disfruta del siguiente repertorio de series, películas y documentales de ajedrez que no deberías perderte.</p>
    <div>
      <div>
        <div>
          <img src="./assets/images/enBuscaDeBobbyFisher.jpg" alt="En Busca de Bobby Fischer">
          <div>
            <h5 class="text-s">En Busca de Bobby Fischer</h5>
            <p>Fred Waitzkin descubre la excepcional habilidad de su hijo, Josh, en la práctica del ajedrez. Esto le lleva a contratar a Bruce Pandolfini, un excampeón, para que le dé clases.</p>
          </div>
        </div>
        <div>
          <img src="./assets/images/hijoDeCain.jpg" alt="Hijo de Caín">
          <div>
            <h5 class="text-s">Hijo de Caín</h5>
            <p>Una familia de clase alta cuyo hijo tiene muchos problemas, contrata a un psicólogo para que le ayude. Sin embargo, nada será como parecía en un principio.</p>
          </div>
        </div>
        <div>
          <img src="./assets/images/laJugadaMaestra.jpg" alt="La jugada maestra">
          <div>
            <h5 class="text-s">La jugada maestra</h5>
            <p>La historia de la preparación del legendario enfrentamiento por el campeonato del mundo entre Bobby Fischer, campeón de ajedrez norteamericano, y el campeón soviético Boris Spassky.</p>
          </div>
        </div>
        <div>
          <img src="./assets/images/GambitoDeDama.jpg" alt="Gambito de dama">
          <div>
            <h5 class="text-s">Gambito de dama</h5>
            <p>La huérfana y prodigio del ajedrez, Beth Harmon, lucha contra la adicción mientras busca convertirse en la mejor jugadora de ajedrez del mundo.</p>
          </div>
        </div>
        <div>
          <img src="./assets/images/Magnus.jpg" alt="Magnus">
          <div>
            <h5 class="text-s">Magnus</h5>
            <p>Nacido en 1990, el prodigio noruego del ajedrez Magnus Carlsen se convierte en gran maestro a los 13 años y en campeón del mundo en 2013.</p>
          </div>
        </div>
      </div>
    </div>
</section>