<footer class="footer">
    <div class="footer__div">
        <a class="footer__a" href="index.html" title="Ir al inicio">
            <figure class="footer__figure">
            <img class="footer__img" src="assets/images/logoChessClub3.png" alt="Albufera de València" loading="lazy" width="190" height="80">
            </figure>
        </a>
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li"><a class="footer__a footer__a--nav" href="./inspiration.html">Inspírate</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="footer__ul footer__ul--redes">
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>