<header class="header">
    <div class="flex flex-col justify-between w-full my-auto mx-0 px-[4%] text-justify xl:flex-row xl:items-center">
      <a class="min-w-[50px] text-main-text font-sans-serif text-sm no-underline m:text-ssm hover:text-secondary-text hover:font-secondary-title" href="index.html" title="Ir al inicio">
        <figure class="m-0 text-center">
          <img class="m-auto px-0 py-[5px]" src="assets/images/logoChessClub3.png" alt="Albufera de València" loading="lazy" width="190" height="80">
        </figure>
      </a>
      <nav>
        <ul class="flex flex-row justify-around p-0">
          <li class="header__li inline-block pl-0 font-sans-serif text-[1.2rem]"><a class="p-[15px] min-w-[50px] text-main-text font-sans-serif text-sm no-underline m:text-ssm hover:text-secondary-text hover:font-secondary-title" href="./inspiration.html">Inspírate</a></li>
        </ul>
      </nav>
    </div>
</header>