<section class="section my-8">
    <h2 class="section__h2">Disfruta de la lectura</h2>
    <p class="text-justify">Disfruta de un día de lectura y mejora tus habilidades.</p>
    <div class="flex flex-wrap justify-evenly xs:gap-[1em] s:gap-[1em] m:gap-[1em] l:gap-[1em] xl:gap-0" data-bs-theme="gray">
      <div class="w-18">
        <img src="./assets/images/libro1.jpeg" alt="Bobby Fischer enseña ajedrez">
        <div>
          <h5>Bobby Fischer enseña ajedrez</h5>
          <p>Libro de acertijos de ajedrez escrito por Bobby Fischer y coescrito por Stuart Margulies y Donn Mosenfelder, publicado originalmente en 1966. Es uno de los libros de ajedrez más vendidos de todos los tiempos, con más de un millón de copias vendidas.</p>
          <a href="https://www.amazon.es/Bobby-Fischer-Teaches-Chess/dp/0553263153/ref=d_pd_sbs_sccl_1_2/262-1549693-0263300?pd_rd_w=OHAV0&content-id=amzn1.sym.c80953b2-c7d3-4808-bc80-fc3dfc60e012&pf_rd_p=c80953b2-c7d3-4808-bc80-fc3dfc60e012&pf_rd_r=99SRHN8SSEAFZWKRDXRR&pd_rd_wg=zmytQ&pd_rd_r=9fa2a58b-eea5-4b1d-a47d-b6fe675d855d&pd_rd_i=0553263153&psc=1">Comprar</a>
        </div>
      </div>
      <div class="w-18">
        <img src="./assets/images/libro2.jpeg" alt="Cómo repensar tu ajedrez">
        <div>
          <h5>Cómo repensar tu ajedrez</h5>
          <p>Este libro se enfoca en el proceso de pensamiento que hay detrás de los planes del medio juego y cómo percibir desbalances en las posiciones. Escribe con humor y un entendimiento profundo sobre las limitaciones del ajedrecista aficionado.</p>
          <a href="https://www.amazon.es/How-Reassess-Your-Chess-Imbalances/dp/1890085138">Comprar</a>
        </div>
      </div>
      <div class="w-18">
        <img src="./assets/images/libro3.jpeg" alt="Mi Sistema">
        <div>
          <h5>Mi Sistema</h5>
          <p>Este libro de Aron Nimzowitsch es un ejemplo excelente de un libro clásico de ajedrez. Ha permanecido en la lista de los cinco libros más vendidos de todos los tiempos, y ¡ha sido recomendado por grandes maestros desde 1925!</p>
          <a href="https://www.amazon.es/Mi-sistema-Tactica-Y-Estrategia/dp/8492517123">Comprar</a>
        </div>
      </div>
      <div class="w-18">
        <img src="./assets/images/libro4.jpeg" alt="Torneo Internacional de Ajedrez de Zurich">
        <div>
          <h5>Torneo Internacional de Ajedrez de Zurich</h5>
          <p>Un serio candidato para ser considerado como el mejor libro de todos los tiempos sobre un torneo de ajedrez, el libro de David Bronstein examina el Torneo de Candidatos que condujo al encuentro por el campeonato del mundo contra Mikhail Botvinnik en 1954.</p>
          <a href="https://www.amazon.es/El-ajedrez-torneo-Club-Ajedrez/dp/842450397X/ref=asc_df_842450397X/?tag=googshopes-21&linkCode=df0&hvadid=195200204086&hvpos=&hvnetw=g&hvrand=17248860887605458213&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1005545&hvtargid=pla-138246605835&psc=1">Comprar</a>
        </div>
      </div>
    </div>
</section>